#input{
width: 16vw;
position: relative;
top: 31%;
left: 17%;
height: 2vh;
border: 1px solid black;
border-radius: 20px;
}
.container{
background: rgba(55, 55, 55, 0.8); /* Ajustando a transparência */
width: 25%;
height: 15%;
position: absolute;
top: 15vw;
left: 35vw;
border: 2px solid #333;
color: white;
border-radius: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#submit { 
  height: 2vw;
  width: 5vw;
  margin-top: 1vw;
  margin-left: 10vw;
  border: solid transparent;
  background-size: 100% 100%!important;
  color: rgb(255, 255, 255);
  float: left; 
  background: rgb(53, 53, 53);
  border-radius: 20px; /* Adicionando bordas arredondadas */
  border: 1px solid black;
  }